<h1>ログイン後画面</h1>

<% @stories.each do |story| %>
  <p>タイトル：<%= story.title %></p>
  <p>あらすじ：<%= story.outline %></p>
  <p>ジャンル:<%= story.genre %></p>
  <%= link_to "編集", edit_story_path(story) %>
  <%= link_to "削除", story, method: :delete, data: { confirm: "#{story.title}を削除しますか？" } %>
  <%= link_to "チャプターリスト", story_chapters_path(story) %>
  <%= link_to "キャラクターリスト", story_characters_path(story) %>
  <p>この物語の登場人物一覧</p>
  <% story.characters.each do |character| %>
  <p><%= character.character_name %></p>
  <% end %>
  <hr>
<% end %>