<hr>
<h1><%= @character.story_title %></h1>
<p>名前：<%= @character.character_name %></p>
<p>年齢：<%= @character.age %></p>
<p>性別：<%= @character.gender %></p>
<%= link_to "編集", edit_story_character_path(@character.story, @character) %>
<%= link_to "削除", story_character_path(@character.story, @character), method: :delete, data: { confirm: "キャラクター名『#{@character.character_name}』のデータを削除しますか？" } %>
